<!DOCTYPE html>
<html lang="en">
<head>
    <title>Delete Confirmation</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <h5>Are you sure you want to delete "{{ language.name }}"?</h5>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'admindash' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</body>
</html>
